.dialog-title {
  text-align: center;
  font-weight: 600;
}

.dialog-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 8px;
  margin: 8px;
}

.full-width {
  width: 100%;
}

.dialog-actions {
  padding: 16px 24px;
}
